/* 콘텐츠 레이아웃 */
.content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.container {
  max-width: 1000px; /* 최대 넓이 1000px 제한*/
  margin: 0 auto;
  width: 80%;
}

/* 상단 이미지*/
.img_container {
  width: 100%;
  height: 300px;
  overflow: hidden; /* 넘치는 이미지 숨김 */
}

.origin_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 제목 + 글 */
.project_detail {
  color: #333333;
  padding: 150px 0 100px 0; /* 위 150px, 아래 100px 여백 */
  flex: 1;
}

/* 제목 */
.project_title {
  font-size: clamp(26px, 5vw, 42px); /* 반응형 글자 크기 (최소/유동/최대) */
  font-weight: 800;
  color: #000000;
  margin-bottom: 50px;
  word-break: keep-all; /* 단어 중간 줄바꿈 방지 (한글 깨짐 방지) */
}

/* 글 */
.detail_section {
  margin-bottom: 60px;
}

/* 소제목 */
.section_title {
  font-size: 20px;
  font-weight: 700;
  color: #222;
  border-bottom: 2px solid #333;
  padding-bottom: 12px;
  margin-bottom: 25px;
}

/* 리스트 커스텀 */
.detail_list {
  list-style: none;
}

.detail_list li {
  position: relative; /* ::before(가짜 요소) 기준점 */
  padding-left: 15px;
  margin-bottom: 10px;
  font-size: 18px !important; /* 글자 크기 (우선 적용) */
}

.detail_list li::before {
  content: "•"; /* 점 모양 생성 */
  position: absolute; /* li 기준으로 위치 조정 */
  left: 0; /* 왼쪽 정렬 */
  top: -3px; /* 세로 위치 미세 조정 */
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

/*코드 박스*/
pre {
  background-color: #1e1e1e;   /* 배경 */
  color: #d4d4d4;              /* 글자색 */
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;            /* 가로 스크롤 */
  line-height: 1.5;
}

code {
  font-family: Consolas, monospace;
  font-size: 14px;
}

.comment {
  color: gray; /* VS Code 느낌 초록 */
}

.post_image img {
  max-width: 1500px;
  width: 100%;
  display: block;
  margin: 30px auto;
}


/* 모바일 */
@media (max-width: 1024px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .project_detail {
    padding: 40px 0;
  }
  .container {
    width: 92%;
  }
  .img_container {
    height: 200px;
  }
  .section_title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .project_title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .detail_list li {
    font-size: 14px;
    padding-left: 18px;
  }
}